:root {
    --primary-color: #064e3b;          
    --secondary-color: hsl(160, 47%, 23%);
    --accent-color: #338a53;          
    --text-light: #f8fafc;             
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
    --border-color: rgba(128, 128, 128, 0.25);
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skills-card {
    background: var(--secondary-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;     
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: all .3s ease;
}


.skills-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.20);
}


.skills-card h3{
    margin-bottom: .8rem;
}

.skills-card ul{
    margin: 0;
    padding-left: 1.2rem;
}

.skills-card li{
    margin-bottom: .35rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    background: var(--secondary-background-color);
    transition: .3s;
    text-decoration: none;
    display: block;
    color: inherit;
}

.project-card:visited {
    color: inherit;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.20);
}

.project-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.project-content {
    padding: 1rem;
}

.project-tech {
    color: var(--primary-color);
    font-weight: 600;
}

a.project-card,
a.project-card:link,
a.project-card:visited,
a.project-card:hover,
a.project-card:active,
a.project-card:focus {
    display: block;
    color: inherit !important;
    text-decoration: none !important;
}

@media (max-width: 1180px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}
